<nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3>STADVDB Group 5</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#query1Submenu" data-toggle="collapse" aria-expanded="false">One-Table Queries</a>
                    <ul class="collapse list-unstyled" id="query1Submenu">
                        <li>
                            <a href="/query11">Query 1</a>
                        </li>
                        <li>
                            <a href="/query12">Query 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#query2Submenu" data-toggle="collapse" aria-expanded="false">Two-Table Queries</a>
                    <ul class="collapse list-unstyled" id="query2Submenu">
                        <li>
                            <a href="/query21">Query 1</a>
                        </li>
                        <li>
                            <a href="/query22">Query 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#query3Submenu" data-toggle="collapse" aria-expanded="false">Three-Table Queries</a>
                    <ul class="collapse list-unstyled" id="query3Submenu">
                        <li>
                            <a href="/query31">Query 1</a>
                        </li>
                        <li>
                            <a href="/query32">Query 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/query41">Five-Table Query</a>
                </li>
            </ul>
        </nav>