<div class="container" id='home'>
  
  <!-- Dataset Description -->
  <div class="row justify-content-center" id="database-description-div">
    <div class="col-sm-8">
      <br><br>
      <h5>Dataset Description</h5>
      <p>The dataset used for this application is called <b><i>The Berka Dataset</i></b>.
      This dataset, which was created by Petr Berka and Marta Sochorova, is a collection
      of information from a Czech bank in 2002. More information about this dataset can
      be found on 
      <a href="https://webpages.uncc.edu/mirsad/itcs6265/group1/domain.html" target="_blank" class="text-primary"> 
      this website.</a></p>
    </div>
    <div class="col-sm-4">
      <img src="../img/dataset-img.png" width="350px">
    </div>
  </div>

  <hr>
  <!-- Query 1.1 -->
  <br><br>
  <img src="../img/query1-img.png" height="200px" class="mx-auto d-block">
  <br>

  <div class="row" id="query11-div">
    <div class="col">
      <h5>Query 1.1 [Header]</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget scelerisque purus, 
        at consectetur ante. Sed scelerisque elementum magna, eget sollicitudin ligula fringilla 
        in. Ut varius hendrerit tristique. Phasellus vel finibus leo, at sollicitudin ex.</p>
    </div>
  </div>

  <!-- Query 1.2 -->
  <br><br>
  <div class="row" id="query12-div">
    <div class="col">
      <h5>Query 1.2 [Header]</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget scelerisque purus, 
        at consectetur ante. Sed scelerisque elementum magna, eget sollicitudin ligula fringilla 
        in. Ut varius hendrerit tristique. Phasellus vel finibus leo, at sollicitudin ex.</p>
    </div>
  </div>

  <hr>
  <!-- Query 2.1 -->
  <br><br>
  <img src="../img/query2-img.png" height="200px" class="mx-auto d-block">
  <br>

  <div class="row" id="query21-div">
    <div class="col">
      <h5>Query 2.1 [Card - Disposition]</h5>
      <p>This query makes use of the <b><i>card and disposition tables</i></b> to obtain the
      number of clients who own the following types of cards offered by the Czech bank -
      gold card, a classic card, and a junior card. Each client is also distinguished by their
      disposition, whether they are classified as an owner or a dispotent.</p>
    </div>
  </div>

  <!-- Query 2.2 -->
  <br><br>
  <div class="row" id="query22-div">
    <div class="col">
      <h5>Query 2.2 [Header]</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget scelerisque purus, 
        at consectetur ante. Sed scelerisque elementum magna, eget sollicitudin ligula fringilla 
        in. Ut varius hendrerit tristique. Phasellus vel finibus leo, at sollicitudin ex.</p>
    </div>
  </div>

  <hr>
  <!-- Query 3.1 -->
  <br><br>
  <img src="../img/query1-img.png" height="200px" class="mx-auto d-block">
  <br>
  
  <div class="row" id="query31-div">
    <div class="col">
      <h5>Query 3.1 [Header]</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget scelerisque purus, 
        at consectetur ante. Sed scelerisque elementum magna, eget sollicitudin ligula fringilla 
        in. Ut varius hendrerit tristique. Phasellus vel finibus leo, at sollicitudin ex.</p>
    </div>
  </div>

  <!-- Query 3.2 -->
  <br><br>
  <div class="row" id="query32-div">
    <div class="col">
      <h5>Query 3.2 [Header]</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget scelerisque purus, 
        at consectetur ante. Sed scelerisque elementum magna, eget sollicitudin ligula fringilla 
        in. Ut varius hendrerit tristique. Phasellus vel finibus leo, at sollicitudin ex.</p>
    </div>
  </div>

  <hr>
  <!-- Query 4.1 -->
  <br><br>
  <img src="../img/query2-img.png" height="200px" class="mx-auto d-block">
  <br>

  <div class="row" id="query41-div">
    <div class="col">
      <h5>Query 4.1 [Header]</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget scelerisque purus, 
        at consectetur ante. Sed scelerisque elementum magna, eget sollicitudin ligula fringilla 
        in. Ut varius hendrerit tristique. Phasellus vel finibus leo, at sollicitudin ex.</p>
    </div>
  </div>

  <br><br><br>
  <br><br><br>
</div>