<div class="container" id='home'>
  
  <!-- Dataset Description -->
  <div class="row justify-content-center" id="database-description-div">
    <div class="col-sm-8">
      <br><br>
      <h5>Dataset Description</h5>
      <p>The dataset used for this application is called <b><i>The Berka Dataset</i></b>.
      This dataset, which was created by Petr Berka and Marta Sochorova, is a collection
      of information from a Czech bank in 1999.</p>
    </div>
    <div class="col-sm-4">
      <img src="../img/dataset-img.png" width="350px">
    </div>
  </div>

  <hr>
  <!-- Query 1.1 -->
  <br><br>
  <img src="../img/query1-img.png" height="200px" class="mx-auto d-block">
  <br>

  <div class="row" id="query11-div">
    <div class="col">
      <a class="query-name" href="/query11">Query 1.1 [Net Balance Over a Time Period]</a>
      <p>The purpose of this query is to check the “balance” or the movement of money of a 
        single account by subtracting the sum of all the debit labeled transactions 
        from the sum of all the credit labeled transactions. Since the start date and 
        end date of the transactions is also available, whoever is querying also has the 
        ability to check transactions between two dates such as a certain month or a week.
      </p>
    </div>
  </div>

  <!-- Query 1.2 -->
  <br><br>
  <div class="row" id="query12-div">
    <div class="col">
      <a class="query-name" href="/query12">Query 1.2 [Characterization Summary of Transactions]</a>
      <p>The purpose of this query is to show the general information about all the transactions 
        of a certain characterization (such as credited interest or insurance payment) per 
        account, like the total amount per account or number of transactions per account. 
        The transactions queried can also be between two specified dates so the user can 
        check transactions for a certain month or week.</p>
    </div>
  </div>

  <hr>
  <!-- Query 2.1 -->
  <br><br>
  <img src="../img/query2-img.png" height="200px" class="mx-auto d-block">
  <br>

  <div class="row" id="Count of Credit Card Holders of a Type and Disposition">
    <div class="col">
      <a class="query-name" href="/query21">Query 2.1 [Count of Credit Card Holders of a Type and Disposition]</a>
      <p>The purpose of this query is to get the total number of card type per disposition 
        type, that is, the query makes use of the Card and Disposition tables to obtain 
        the number of clients who own the following type of cards offered by the Czech 
        bank: Gold, classic, and junior.  Each client, or disposition type, is distinguished 
        by two categories: If they are an owner or a disponent, or someone who uses or is 
        in charge of the card type reflected in the table but does not own it.
      </p>
    </div>
  </div>

  <!-- Query 2.2 -->
  <br><br>
  <div class="row" id="Status of Loans and Remaining Balance to be Paid by a Customer">
    <div class="col">
      <a class="query-name" href="/query22">Query 2.2 [Header]</a>
      <p>The purpose of this query is to show if the selected account has any loans. 
        If the account has a loan in record, the details will be displayed. 
        The loan ID, the date the loan was taken, and its current status will be 
        displayed. If the loan is not yet fully paid the remaining balance will be 
        shown by subtracting the transactions made to the loan taken, otherwise it 
        will display that the loan is finished.
      </p>
    </div>
  </div>

  <hr>
  <!-- Query 3.1 -->
  <br><br>
  <img src="../img/query1-img.png" height="200px" class="mx-auto d-block">
  <br>
  
  <div class="row" id="query31-div">
    <div class="col">
      <a class="query-name" href="/query31">Query 3.1 [Total Value of Permanent Orders of a Payment Type per District]</a>
      <p>The purpose of this query is to check the total amount gained by a district
         using a particular characterization method that determines the nature of 
         the payment. This enables the user to see which method or characterization 
         has the most amount and is most frequent in a district and could help 
         determine the status of which transaction is most apparent in a district.
      </p>
    </div>
  </div>

  <!-- Query 3.2 -->
  <br><br>
  <div class="row" id="query32-div">
    <div class="col">
      <a class="query-name" href="/query32">Query 3.2 [Summary of Transactions of a Payment Type in a Certain Timespan per District]</a>
      <p>The purpose of this query is to show the users, how many transactions and the 
        total amount of transactions are made per district of a certain characterization 
        of transaction (K_Symbol) in a timespan . In the real world, this is an important 
        feature because it enables the users (banks) to see in what district do they have 
        the most  transactions of a certain K_symbol so they can upgrade their services 
        based on the data available. It also enables them to see how many people use their 
        bank in a specific time period so they can analyze how their bank is doing.</p>
    </div>
  </div>

  <hr>
  <!-- Query 4.1 -->
  <br><br>
  <img src="../img/query2-img.png" height="200px" class="mx-auto d-block">
  <br>

  <div class="row" id="query41-div">
    <div class="col">
      <a class="query-name" href="/query41">Query 4.1 [Transaction Activity of Specific Types of Credit Card Holders based on District Purpose]</a>
      <p>Credit Card Holders represent a portion of the bank’s customer base that is a constant 
        source of revenue through interest payments. Knowing the transaction activity of credit 
        card holders in a certain district would allow the bank to formulate business strategies 
        that would take advantage of the holders’ activities, such as providing better interest 
        rates and promos for credit card applications in districts with low activity in order 
        entice residents there to get credit cards. In districts with large activity, the bank 
        can focus collection efforts in those districts to increase the likelihood that high 
        value credit card loans are paid for. 
        <br>
        <br>
	      Also, knowing which type of credit card holder is active in a district informs decisions 
        on prestige offers for gold holders, who are large spenders, to entice them to spend/transact 
        with the bank more and go through the bank using their credit cards. In districts with 
        low gold/classic spending, efforts can be made to make higher tier credit cards be more 
        desirable.
        <br>
        <br>
	      Ultimately, the information informs business decisions regarding tiered credit cards and 
        prestige offers, and to which districts these efforts are directed to.
</p>
    </div>
  </div>

  <br><br><br>
  <br><br><br>
</div>